@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-bg: #ffffff;
  --color-bg-brand: #0d99ff;
  --color-bg-brand-hover: #007be5;
  --color-bg-brand-pressed: #007be5;
  --color-bg-brand-secondary: #0768cf;
  --color-bg-brand-tertiary: #e5f4ff;
  --color-bg-component: #9747ff;
  --color-bg-component-hover: #8638e5;
  --color-bg-component-pressed: #8638e5;
  --color-bg-component-secondary: #7c2bda;
  --color-bg-component-tertiary: #f1e5ff;
  --color-bg-danger: #f24822;
  --color-bg-danger-hover: #dc3412;
  --color-bg-danger-pressed: #dc3412;
  --color-bg-danger-secondary: #bd2915;
  --color-bg-danger-tertiary: #ffe2e0;
  --color-bg-disabled: #d9d9d9;
  --color-bg-disabled-secondary: #b3b3b3;
  --color-bg-hover: #f5f5f5;
  --color-bg-inverse: #2c2c2c;
  --color-bg-onselected: #bde3ff;
  --color-bg-onselected-hover: #bde3ff;
  --color-bg-onselected-pressed: #bde3ff;
  --color-bg-pressed: #f5f5f5;
  --color-bg-secondary: #f5f5f5;
  --color-bg-selected: #e5f4ff;
  --color-bg-selected-hover: #bde3ff;
  --color-bg-selected-pressed: #bde3ff;
  --color-bg-selected-secondary: #f2f9ff;
  --color-bg-selected-strong: #0d99ff;
  --color-bg-selected-tertiary: #f2f9ff;
  --color-bg-success: #14ae5c;
  --color-bg-success-hover: #009951;
  --color-bg-success-pressed: #009951;
  --color-bg-success-secondary: #008043;
  --color-bg-success-tertiary: #cff7d3;
  --color-bg-tertiary: #e6e6e6;
  --color-bg-warning: #ffcd29;
  --color-bg-warning-hover: #ffc21a;
  --color-bg-warning-pressed: #ffc21a;
  --color-bg-warning-secondary: #fab815;
  --color-bg-warning-tertiary: #fff1c2;
  --color-border: #e6e6e6;
  --color-border-brand: #bde3ff;
  --color-border-brand-strong: #007be5;
  --color-border-component: #e4ccff;
  --color-border-component-hover: #9747ff;
  --color-border-component-strong: #8638e5;
  --color-border-danger: #ffc7c2;
  --color-border-danger-strong: #dc3412;
  --color-border-disabled: #e6e6e6;
  --color-border-disabled-strong: #0000004d;
  --color-border-onbrand: #007be5;
  --color-border-onbrand-strong: #ffffff;
  --color-border-oncomponent: #8638e5;
  --color-border-oncomponent-strong: #ffffff;
  --color-border-ondanger: #dc3412;
  --color-border-ondanger-strong: #ffffff;
  --color-border-onselected: #bde3ff;
  --color-border-onselected-strong: #000000e5;
  --color-border-onsuccess: #009951;
  --color-border-onsuccess-strong: #ffffff;
  --color-border-onwarning: #fab815;
  --color-border-onwarning-strong: #000000e5;
  --color-border-selected: #0d99ff;
  --color-border-selected-strong: #007be5;
  --color-border-strong: #2c2c2c;
  --color-border-success: #aff4c6;
  --color-border-success-strong: #009951;
  --color-border-warning: #ffe8a3;
  --color-border-warning-strong: #b86200;
  --color-icon: #000000e5;
  --color-icon-brand: #007be5;
  --color-icon-brand-pressed: #0768cf;
  --color-icon-brand-secondary: #80caff;
  --color-icon-brand-tertiary: #bde3ff;
  --color-icon-component: #8638e5;
  --color-icon-component-pressed: #7c2bda;
  --color-icon-component-secondary: #c5b2dc;
  --color-icon-component-tertiary: #c5b2dc;
  --color-icon-danger: #f24822;
  --color-icon-danger-hover: #bd2915;
  --color-icon-danger-pressed: #bd2915;
  --color-icon-danger-secondary: #f24822;
  --color-icon-danger-secondary-hover: #f24822;
  --color-icon-danger-tertiary: #f24822;
  --color-icon-disabled: #0000004d;
  --color-icon-hover: #000000e5;
  --color-icon-onbrand: #ffffff;
  --color-icon-onbrand-secondary: #ffffffcc;
  --color-icon-onbrand-tertiary: #ffffff66;
  --color-icon-oncomponent: #ffffff;
  --color-icon-oncomponent-secondary: #ffffffcc;
  --color-icon-oncomponent-tertiary: #ffffff66;
  --color-icon-ondanger: #ffffff;
  --color-icon-ondanger-secondary: #ffffffcc;
  --color-icon-ondanger-tertiary: #ffffff66;
  --color-icon-ondisabled: #ffffff;
  --color-icon-oninverse: #ffffffe5;
  --color-icon-onselected: #000000e5;
  --color-icon-onselected-secondary: #00000080;
  --color-icon-onselected-strong: #ffffff;
  --color-icon-onselected-tertiary: #0000004d;
  --color-icon-onsuccess: #ffffff;
  --color-icon-onsuccess-secondary: #ffffffcc;
  --color-icon-onsuccess-tertiary: #ffffff66;
  --color-icon-onwarning: #000000e5;
  --color-icon-onwarning-secondary: #ffffffcc;
  --color-icon-onwarning-tertiary: #ffffff66;
  --color-icon-pressed: #007be5;
  --color-icon-secondary: #00000080;
  --color-icon-secondary-hover: #000000e5;
  --color-icon-selected: #007be5;
  --color-icon-selected-secondary: #007be5;
  --color-icon-selected-tertiary: #007be5;
  --color-icon-success: #14ae5c;
  --color-icon-success-pressed: #008043;
  --color-icon-success-secondary: #14ae5c;
  --color-icon-success-tertiary: #14ae5c;
  --color-icon-tertiary: #0000004d;
  --color-icon-tertiary-hover: #000000e5;
  --color-icon-warning: #ffcd29;
  --color-icon-warning-pressed: #b86200;
  --color-icon-warning-secondary: #ffcd29;
  --color-icon-warning-tertiary: #ffcd29;
  --color-text: #000000e5;
  --color-text-brand: #007be5;
  --color-text-brand-secondary: #007be5;
  --color-text-brand-tertiary: #007be5;
  --color-text-component: #8638e5;
  --color-text-component-pressed: #7c2bda;
  --color-text-component-secondary: #c5b2dc;
  --color-text-component-tertiary: #c5b2dc;
  --color-text-danger: #dc3412;
  --color-text-danger-secondary: #dc3412;
  --color-text-danger-tertiary: #dc3412;
  --color-text-disabled: #0000004d;
  --color-text-hover: #000000e5;
  --color-text-onbrand: #ffffff;
  --color-text-onbrand-secondary: #ffffffcc;
  --color-text-onbrand-tertiary: #ffffff66;
  --color-text-oncomponent: #ffffff;
  --color-text-oncomponent-secondary: #ffffffcc;
  --color-text-oncomponent-tertiary: #ffffff66;
  --color-text-ondanger: #ffffff;
  --color-text-ondanger-secondary: #ffffffcc;
  --color-text-ondanger-tertiary: #ffffff66;
  --color-text-ondisabled: #ffffff;
  --color-text-oninverse: #ffffffe5;
  --color-text-onselected: #000000e5;
  --color-text-onselected-secondary: #00000080;
  --color-text-onselected-strong: #ffffff;
  --color-text-onselected-tertiary: #0000004d;
  --color-text-onsuccess: #ffffff;
  --color-text-onsuccess-secondary: #ffffffcc;
  --color-text-onsuccess-tertiary: #ffffff66;
  --color-text-onwarning: #000000e5;
  --color-text-onwarning-secondary: #00000080;
  --color-text-onwarning-tertiary: #0000004d;
  --color-text-secondary: #00000080;
  --color-text-secondary-hover: #000000e5;
  --color-text-selected: #007be5;
  --color-text-selected-secondary: #007be5;
  --color-text-selected-tertiary: #007be5;
  --color-text-success: #009951;
  --color-text-success-secondary: #009951;
  --color-text-success-tertiary: #009951;
  --color-text-tertiary: #0000004d;
  --color-text-tertiary-hover: #000000e5;
  --color-text-warning: #b86200;
  --color-text-warning-secondary: #b86200;
  --color-text-warning-tertiary: #b86200;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }

  /* Remove number input spinners */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    font-size: 11px;
  }

  .dark {
    --color-bg: #2c2c2c;
    --color-bg-brand: #0c8ce9;
    --color-bg-brand-hover: #0a6dc2;
    --color-bg-brand-pressed: #0a6dc2;
    --color-bg-brand-secondary: #105cad;
    --color-bg-brand-tertiary: #394360;
    --color-bg-component: #8a38f5;
    --color-bg-component-hover: #7a2ed6;
    --color-bg-component-pressed: #7a2ed6;
    --color-bg-component-secondary: #652ca8;
    --color-bg-component-tertiary: #473956;
    --color-bg-danger: #e03e1a;
    --color-bg-danger-hover: #c4381c;
    --color-bg-danger-pressed: #c4381c;
    --color-bg-danger-secondary: #963323;
    --color-bg-danger-tertiary: #7c2622;
    --color-bg-disabled: #757575;
    --color-bg-disabled-secondary: #b3b3b3;
    --color-bg-hover: #383838;
    --color-bg-inverse: #ffffff;
    --color-bg-onselected: #667799;
    --color-bg-onselected-hover: #667799;
    --color-bg-onselected-pressed: #667799;
    --color-bg-pressed: #383838;
    --color-bg-secondary: #383838;
    --color-bg-selected: #4a5878;
    --color-bg-selected-hover: #536383;
    --color-bg-selected-pressed: #536383;
    --color-bg-selected-secondary: #394360;
    --color-bg-selected-strong: #0c8ce9;
    --color-bg-selected-tertiary: #394360;
    --color-bg-success: #198f51;
    --color-bg-success-hover: #078348;
    --color-bg-success-pressed: #078348;
    --color-bg-success-secondary: #0a5c35;
    --color-bg-success-tertiary: #0a4c2d;
    --color-bg-tertiary: #444444;
    --color-bg-warning: #f3c11b;
    --color-bg-warning-hover: #f2b50d;
    --color-bg-warning-pressed: #f2b50d;
    --color-bg-warning-secondary: #e4a711;
    --color-bg-warning-tertiary: #c58011;
    --color-border: #444444;
    --color-border-brand: #105cad;
    --color-border-brand-strong: #7cc4f8;
    --color-border-component: #652ca8;
    --color-border-component-hover: #8a38f5;
    --color-border-component-strong: #d6b6fb;
    --color-border-danger: #963323;
    --color-border-danger-strong: #fca397;
    --color-border-disabled: #444444;
    --color-border-disabled-strong: #ffffff66;
    --color-border-onbrand: #0a6dc2;
    --color-border-onbrand-strong: #ffffff;
    --color-border-oncomponent: #7a2ed6;
    --color-border-oncomponent-strong: #ffffff;
    --color-border-ondanger: #c4381c;
    --color-border-ondanger-strong: #ffffff;
    --color-border-onselected: #667799;
    --color-border-onselected-strong: #ffffffe5;
    --color-border-onsuccess: #078348;
    --color-border-onsuccess-strong: #ffffff;
    --color-border-onwarning: #e4a711;
    --color-border-onwarning-strong: #000000e5;
    --color-border-selected: #0c8ce9;
    --color-border-selected-strong: #7cc4f8;
    --color-border-strong: #ffffffe5;
    --color-border-success: #0a5c35;
    --color-border-success-strong: #79d297;
    --color-border-warning: #925711;
    --color-border-warning-strong: #f7d15f;
    --color-icon: #ffffff;
    --color-icon-brand: #7cc4f8;
    --color-icon-brand-pressed: #0c8ce9;
    --color-icon-brand-secondary: #536383;
    --color-icon-brand-tertiary: #394360;
    --color-icon-component: #d1a8ff;
    --color-icon-component-pressed: #d6b6fb;
    --color-icon-component-secondary: #6b5884;
    --color-icon-component-tertiary: #6b5884;
    --color-icon-danger: #e03e1a;
    --color-icon-danger-hover: #fbbcb6;
    --color-icon-danger-pressed: #fbbcb6;
    --color-icon-danger-secondary: #e03e1a;
    --color-icon-danger-secondary-hover: #e03e1a;
    --color-icon-danger-tertiary: #e03e1a;
    --color-icon-disabled: #ffffff66;
    --color-icon-hover: #ffffff;
    --color-icon-onbrand: #ffffff;
    --color-icon-onbrand-secondary: #ffffffcc;
    --color-icon-onbrand-tertiary: #ffffff66;
    --color-icon-oncomponent: #ffffff;
    --color-icon-oncomponent-secondary: #ffffffcc;
    --color-icon-oncomponent-tertiary: #ffffff66;
    --color-icon-ondanger: #ffffff;
    --color-icon-ondanger-secondary: #ffffffcc;
    --color-icon-ondanger-tertiary: #ffffff66;
    --color-icon-ondisabled: #2c2c2c;
    --color-icon-oninverse: #000000e5;
    --color-icon-onselected: #ffffff;
    --color-icon-onselected-secondary: #ffffffb2;
    --color-icon-onselected-strong: #ffffff;
    --color-icon-onselected-tertiary: #ffffff66;
    --color-icon-onsuccess: #ffffff;
    --color-icon-onsuccess-secondary: #ffffffcc;
    --color-icon-onsuccess-tertiary: #ffffff66;
    --color-icon-onwarning: #000000e5;
    --color-icon-onwarning-secondary: #00000080;
    --color-icon-onwarning-tertiary: #0000004d;
    --color-icon-pressed: #0a6dc2;
    --color-icon-secondary: #ffffffb2;
    --color-icon-secondary-hover: #ffffff;
    --color-icon-selected: #7cc4f8;
    --color-icon-selected-secondary: #7cc4f8;
    --color-icon-selected-tertiary: #7cc4f8;
    --color-icon-success: #198f51;
    --color-icon-success-pressed: #a1e8b9;
    --color-icon-success-secondary: #198f51;
    --color-icon-success-tertiary: #198f51;
    --color-icon-tertiary: #ffffff66;
    --color-icon-tertiary-hover: #ffffff;
    --color-icon-warning: #f3c11b;
    --color-icon-warning-pressed: #f7d15f;
    --color-icon-warning-secondary: #f3c11b;
    --color-icon-warning-tertiary: #f3c11b;
    --color-text: #ffffff;
    --color-text-brand: #7cc4f8;
    --color-text-brand-secondary: #7cc4f8;
    --color-text-brand-tertiary: #7cc4f8;
    --color-text-component: #d1a8ff;
    --color-text-component-pressed: #d6b6fb;
    --color-text-component-secondary: #6b5884;
    --color-text-component-tertiary: #6b5884;
    --color-text-danger: #fca397;
    --color-text-danger-secondary: #fca397;
    --color-text-danger-tertiary: #fca397;
    --color-text-disabled: #ffffff66;
    --color-text-hover: #ffffff;
    --color-text-onbrand: #ffffff;
    --color-text-onbrand-secondary: #ffffffcc;
    --color-text-onbrand-tertiary: #ffffff66;
    --color-text-oncomponent: #ffffff;
    --color-text-oncomponent-secondary: #ffffffcc;
    --color-text-oncomponent-tertiary: #ffffff66;
    --color-text-ondanger: #ffffff;
    --color-text-ondanger-secondary: #ffffffcc;
    --color-text-ondanger-tertiary: #ffffff66;
    --color-text-ondisabled: #2c2c2c;
    --color-text-oninverse: #000000e5;
    --color-text-onselected: #ffffffe5;
    --color-text-onselected-secondary: #ffffffb2;
    --color-text-onselected-strong: #ffffff;
    --color-text-onselected-tertiary: #ffffff66;
    --color-text-onsuccess: #ffffff;
    --color-text-onsuccess-secondary: #ffffffcc;
    --color-text-onsuccess-tertiary: #ffffff66;
    --color-text-onwarning: #000000e5;
    --color-text-onwarning-secondary: #00000080;
    --color-text-onwarning-tertiary: #0000004d;
    --color-text-secondary: #ffffffb2;
    --color-text-secondary-hover: #ffffff;
    --color-text-selected: #7cc4f8;
    --color-text-selected-secondary: #7cc4f8;
    --color-text-selected-tertiary: #7cc4f8;
    --color-text-success: #79d297;
    --color-text-success-secondary: #79d297;
    --color-text-success-tertiary: #79d297;
    --color-text-tertiary: #ffffff66;
    --color-text-tertiary-hover: #ffffff;
    --color-text-warning: #f7d15f;
    --color-text-warning-secondary: #f7d15f;
    --color-text-warning-tertiary: #f7d15f;
  }
}

@utility link {
  @apply text-text-brand;
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-normal;
  @apply transition-all;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-primary {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply bg-bg-brand;
  @apply text-text-onbrand;
  @apply px-4;
  @apply py-3;
  @apply hover:bg-bg-brand-hover;
  @apply hover:text-text-oninverse;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:bg-bg-disabled;
  @apply data-disabled:text-text-ondisabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-secondary {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply text-text-secondary;
  @apply px-4;
  @apply py-3;
  @apply hover:bg-bg-hover;
  @apply hover:text-text-hover;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-ghost {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply text-text-brand;
  @apply border-border-brand;
  @apply bg-bg-brand/5;
  @apply border-2;
  @apply border-dashed;
  @apply px-4;
  @apply py-3;
  @apply hover:bg-bg-brand/10;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-togglable {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply text-text-secondary;
  @apply px-4;
  @apply py-3;
  @apply hover:bg-bg-hover;
  @apply data-active:bg-bg-hover;
  @apply data-active:text-text;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-icon {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply flex;
  @apply h-9;
  @apply min-w-9;
  @apply items-center;
  @apply justify-center;
  @apply px-2;
  @apply hover:bg-bg-hover;
  @apply hover:text-text-hover;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-icon-togglable {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply flex;
  @apply h-9;
  @apply min-w-9;
  @apply items-center;
  @apply justify-center;
  @apply px-2;
  @apply text-text-secondary;
  @apply bg-transparent;
  @apply hover:bg-bg-hover;
  @apply hover:text-text-hover;
  @apply data-active:bg-bg-selected;
  @apply data-active:text-text-selected;
  @apply data-active:hover:bg-bg-selected-hover;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility button-icon-togglable-secondary {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply justify-center;
  @apply gap-1.5;
  @apply rounded-lg;
  @apply whitespace-nowrap;
  @apply transition-all;
  @apply flex;
  @apply h-9;
  @apply min-w-9;
  @apply items-center;
  @apply justify-center;
  @apply px-2;
  @apply text-text-secondary;
  @apply border;
  @apply border-transparent;
  @apply hover:bg-bg-hover;
  @apply hover:text-text-hover;
  @apply data-active:bg-bg;
  @apply data-active:text-text;
  @apply data-active:border-border;
  @apply disabled:cursor-default;
  @apply disabled:opacity-60;
  @apply data-disabled:cursor-default;
  @apply data-disabled:opacity-60;
  @apply data-disabled:text-text-disabled;
  @apply data-disabled:pointer-events-none;
}

@utility input {
  @apply text-text;
  @apply w-full;
  @apply cursor-default;
  @apply border-0;
  @apply bg-transparent;
  @apply text-center;
  @apply outline-0;
  @apply bg-bg-secondary;
  @apply rounded-lg;
  @apply px-2;
  @apply py-1;
  @apply placeholder:text-text-tertiary;
  @apply hover:outline-border;
  @apply hover:outline;
  @apply focus:outline-border-selected;
  @apply focus:outline;
  @apply data-disabled:bg-bg-disabled;
  @apply data-disabled:text-text-ondisabled;
  font-size: inherit;
}

@utility input-without-border {
  @apply text-text;
  @apply w-full;
  @apply cursor-default;
  @apply border-0;
  @apply bg-transparent;
  @apply text-center;
  @apply outline-0;
  @apply placeholder:text-text-tertiary;
  @apply data-disabled:bg-bg-disabled;
  @apply data-disabled:text-text-ondisabled;
  font-size: inherit;
}

@utility label {
  @apply text-text-secondary;
  @apply text-sm;
  @apply font-semibold;
  @apply tracking-widest;
  @apply uppercase;
}

@utility label-group {
  @apply text-text-secondary;
  @apply bg-bg-tertiary;
  @apply sticky;
  @apply top-0;
  @apply right-0;
  @apply left-0;
  @apply z-40;
  @apply px-5;
  @apply py-2;
  @apply text-sm;
  @apply uppercase;
}

@utility badge-property-name {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply gap-1;
  @apply rounded-full;
  @apply px-2;
  @apply pt-1;
  @apply pb-[0.2em];
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply not-italic;
  @apply text-text-component;
  @apply border-border-component;
  @apply rounded-lg;
  @apply border-2;
  @apply font-mono;
}

@utility badge-property-value {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply gap-1;
  @apply rounded-full;
  @apply px-2;
  @apply pt-1;
  @apply pb-[0.2em];
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply not-italic;
  @apply text-text;
  @apply border-border;
  @apply hover:bg-bg-hover;
  @apply rounded-lg;
  @apply border;
  @apply font-mono;
}

@utility pill-danger {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply gap-1;
  @apply rounded-full;
  @apply px-2;
  @apply pt-1;
  @apply pb-[0.2em];
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply not-italic;
  @apply bg-bg-danger;
  @apply text-text-ondanger;
}

@utility pill-neutral {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply gap-1;
  @apply rounded-full;
  @apply px-2;
  @apply pt-1;
  @apply pb-[0.2em];
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply not-italic;
  @apply bg-bg-hover;
  @apply text-text-hover;
}

@utility pill-interactive {
  @apply inline-flex;
  @apply cursor-default;
  @apply items-center;
  @apply gap-1;
  @apply rounded-full;
  @apply px-2;
  @apply pt-1;
  @apply pb-[0.2em];
  @apply leading-none;
  @apply whitespace-nowrap;
  @apply not-italic;
  @apply bg-bg;
  @apply text-text;
  @apply border;
  @apply border-transparent;
  @apply hover:text-text-brand;
  @apply hover:bg-bg-hover;
  @apply hover:border-border-brand;
}

@utility popover {
  @apply bg-bg-inverse/90;
  @apply text-text-oninverse;
  @apply block;
  @apply rounded-2xl;
  @apply py-2;
  @apply max-w-[calc(100vw-3rem)];

  .label {
    @apply text-text-oninverse;
  }
}

@utility horizontal-rule {
  @apply border-text-oninverse/20;
  @apply my-1;
  @apply w-full;
  @apply border-t;
}
